extends layout.pug

block content
    section(class='flashcards')
        .card(class=`card-${side}`)
            .card-header
            h1.card-title= side
            #content
                h2= text
                if hint 
                    p.hint
                        i= hint
            .card-flip-wrap
                a(href=`/cards/${id}?side=${btnlink}`)
                    img.card-filp(src='/static/img/flip.svg')

            .card-next
                a(href=`/cards/${id}?side=question`)
                    img(src='/static/img/next.svg')